:root{
  --bg-primary: #000;
  --color-white: #fff;
  --color-grey: #ffffff73;

}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-primary);
  color: var(--color-white);
}

.link_regular{
  color: #b3ee3d;
  text-decoration: none;
}