.post_details{
}
.post_details .post_img{
    width: 100%;
    border-radius: 15px;
}
.post_details .post_stats{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.post_details .post_stats .post_stat{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.post_info{
    background-color: rgb(20,20,20);
    padding: 1rem;
    border-radius: 8px;
}
.post_info h3{
    color: var(--color-grey);
}

.profile_url{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #b3ee3d;
    text-decoration: none;
}
.profile_url img{
    width: 35px;
    border-radius: 50%;
}
.comments{
    text-align: center;
    max-height: 500px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: goldenrod;
}
.comments::-webkit-scrollbar{
    width: 8px;
}
.comments::-webkit-scrollbar-track{
    background-color: goldenrod;
}
.comments::-webkit-scrollbar-thumb{
    background-color: blue;
    border: 1px solid goldenrod;
    border-radius: 10px;
}
.comments_wrapper .comment{
    display: flex;
    gap: 1rem;
    text-align: left;
    border-bottom: 1px solid var(--color-grey);
    margin: 8px 0;
    padding: 8px 0;
}
.comments_wrapper .comment .comment_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
@media screen and (min-width: 560px) {
    .post_details{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
    
}
